
<div>

<h1> Current Subscriptions : </h1>
<% @subscription.each do |s| %>
<div style='margin-bottom:100px'>
<% plan = Plan.find_by(id: s.plan_id) %>
<p>Plan: <%= plan.name  %>
<%= link_to 'Details' ,subscription_path(s) ,:class => 'btn btn-primary' %> </p>
</div>
<% end %>


</div>
