<div>
<p>
<% @plan.each do |p| %>
    <p><b>Plan Name: </b><%= p.name %> </p>
    <p><b>Price:  </b><%= p.price %></p>
    <%= link_to 'Set Features' ,plan_path(p) ,:class => 'btn btn-primary' %> 
    
<% end %> </p>

</div>
<br>
